.feedCustomMain {
	border: 1px solid #8A0808;
	box-shadow: 0 2px 10px #61210B;
	padding: 0 12px;
	width: 400px;
}

.feedCustomMain .feedMainHeader {
	padding: 2px;
	box-shadow: 0 0 4px #61210B;
	border-bottom-radius: 3px;
	margin-bottom: 12px;
	margin-left: -12px;
	margin-right: -12px;
	background-color: #EBECF0;
	background: -moz-linear-gradient(top, #61210B 0%, #FFFFFF 100%);
	/* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61210B),
		color-stop(100%, #FFFFFF) ); /* webkit */
	filter: progid :     DXImageTransform.Microsoft.gradient (     
		 startColorstr =  
		  '#61210B', endColorstr =     '#FFFFFF', GradientType =     0 );
	/* ie */
	font-weight: bold;
}

.feedCustomMain .feedMainHeader .Title H2 {margin: 0px 0px 0px 0px;}

.feedCustomMain .feedMainHeader .Title {
	
}

.feedCustomMain .feedMainDescription {
	padding-bottom: 15px;
}

.feedCustomMain .feedMainDescription .image {
	float: left;
	padding: 0 5px 3px 0;
}

.feedCustomMain .feedMainDescription .link {
	text-align: right;
	color: #B40404;
}
.feedCustomMain .feedMainDescription .link A {
	color: #B40404;
}

.feedCustomMain .feedMainDescription .description {
	padding-top: 5px;
	font-size: 1.1em;
}

.feedCustomMain .feedMainDescription .clear {
	clear: both;
}

.feedCustomMain .feedEntry {
	border: 1px solid #8A0808;
	border-left: 2px solid #8A0808;
	border-radius: 3px;
	box-shadow: 0 0 4px #E3E5EB;
	overflow: hidden;
	margin-bottom: 12px;
}


.feedCustomMain .feedEntry .feedHeader {
	background-color: #FAFAFA;
	box-shadow: 0 0 4px #61210B;
	padding: 1px;
}

.feedCustomMain .feedEntry .feedHeader H2 {
	margin: 1px 1px 1px 1px;
	font-size: 1.1em;
}

.feedCustomMain .feedEntry .feedHeader H2 A{
	color: #424242;
}


.feedCustomMain .feedEntry .feedBody {
	padding: 4px 3px;
}

.feedCustomMain .feedEntry .feedBody IMG {
	float: left;
	padding: 0 5px 3px 0;
}

.feedCustomMain .feedEntry .feedDesc {
	
}