#################
## Eclipse
#################

*.pydevproject
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
org.openntf.xpt.agents/target/
target/
org.openntf.xpt.updatesite/artifacts.jar
org.openntf.xpt.updatesite/content.jar
org.openntf.xpt.updatesite-designer/.settings/
org.openntf.xpt.p2/.project
org.openntf.xpt.p2/.settings/
snapshots/
org.openntf.xpt.agents/.project
org.openntf.xpt.feature.source/.project
org.openntf.xpt.feature/.project
org.openntf.xpt.objectlist/.project
org.openntf.xpt.oneui/.project
org.openntf.xpt.properties/.project
org.openntf.xpt.rss/.project
org.openntf.xpt.testsuite/.project
org.openntf.xpt.updatesite-designer/.project
org.openntf.xpt.updatesite/.project
org.openntf.xpt/.project
xpt.assembly/.project


org.openntf.xpt.agents/.settings/

org.openntf.xpt.core/.settings/org.eclipse.jdt.core.prefs

org.openntf.xpt.objectlist/.settings/org.eclipse.jdt.core.prefs

org.openntf.xpt.oneui/.settings/org.eclipse.jdt.core.prefs

org.openntf.xpt.properties/.settings/org.eclipse.jdt.core.prefs

org.openntf.xpt.rss/.settings/org.eclipse.jdt.core.prefs

org.openntf.xpt.testsuite/.settings/org.eclipse.jdt.core.prefs

org.openntf.xpt/.settings/org.eclipse.jdt.core.prefs
