<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openntf.xpt.oneui.config"
         name="XPT OneUI Extensions"
         point="org.openntf.xpt.part">
      <PartConfiguration
            class="org.openntf.xpt.oneui.config.OneUIConfig">
      </PartConfiguration>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xpt.oneui.ressources.XPTONEUIResourceProvider"
            type="com.ibm.xsp.GlobalResourceProvider">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xpt.oneui.ressources.XPTONEUIModulePath"
            type="com.ibm.xsp.resource.DojoModulePathResource">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xpt.oneui.minifier.ONEUILoader"
            type="com.ibm.xsp.minifier.loader">
      </service>
   </extension>

</plugin>
