<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openntf.xpt.oneui.config"
         name="XPT OneUI Extensions"
         point="org.openntf.xpt.part">
      <PartConfiguration
            class="org.openntf.xpt.oneui.config.OneUIConfig">
      </PartConfiguration>
   </extension>

</plugin>
