<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openntf.xpt.rss"
         name="XPT RSS DataSource"
         point="org.openntf.xpt.part">
      <PartConfiguration
            class="org.openntf.xpt.rss.config.RSSConfig">
      </PartConfiguration>
   </extension>

  <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xpt.rss.resources.XPTRSSResourceProvider"
            type="com.ibm.xsp.GlobalResourceProvider">
      </service>
   </extension>
   <extension point="com.ibm.commons.Extension">
         <service
            type="com.ibm.xsp.resource.DojoModulePathResource"
            class="org.openntf.xpt.rss.resources.XPTRSSModulePath" />
   </extension>
</plugin>
