<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openntf.xpt.properties"
         name="XPT Properties DataSource"
         point="org.openntf.xpt.part">
      <PartConfiguration
            class="org.openntf.xpt.properties.config.PropertiesConfig">
      </PartConfiguration>
   </extension>

</plugin>
